body {
  margin: auto;
  width: 80%;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

div.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.white {
  color: white;
}


/* HEADER */

.header {
  background: #EEE;
  padding: 15px;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.logo-header {
  width: 50px;
}

.text-header {
  width: 200px;
}

.dropdown {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-toggle {
  font-size: 1.5em;
  text-decoration: none;
  color: #2F4F4F;
}

.dropdown-toggle:hover {
  text-decoration: none;
}


/* MENU */

.sidebar-menu {
  background: #CD5C5C;
  list-style-type: none;
  font-size: 1.5em;
  border : 2px solid black;
}

.sidebar-menu .menu-item {
  padding: 10px;
  color: white;
}

.menu-item a {
  color: white;
}

.menu-item a:hover {
  text-decoration: none;
  opacity: 0.8;
}

.menu-item a:focus {
  text-decoration: none;
}

#validRegistration {
  margin-top: 10px;
}


/* CONTENT */

.content {
  background: #AAA;
  padding: 20px;
  font-family: 'Source Sans Pro';
}



/* LOGIN PAGE */

#login-box {
  width: 30%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

#login-box .header-container {
  z-index: 3;
  background-color: white;
}

#login-box .header {
  border: 2px solid black;
  padding: 20px;
  background-color: #FF4136;
  border-radius: 100px 100px 0 0;
  position: relative;
  z-index: 1;
}

#login-box .body {
  padding: 20px;
  background: #333;
  position: relative;
  z-index: 2;
}

#login-box .footer {
  padding: 20px;
  background: #DDD;
  border-radius: 0 0 100px 100px;
  border: 2px solid black;
  position: relative;
  z-index: 1;
}

.loading {
  border-radius: 50px;
  background-color: #FFF;
  width: 35px;
  margin: auto;
  height: 35px;
  display: none;
}

.spinner {
  width: 25px;
  height: 25px;
  margin-top: 5px;
}

.forgot-password {
  color: black;
}

.has-success .control-label,
.has-success.checkbox label {
  color: black;
}


.pokemon {
/*  width: 50%;
  height: 350px;*/
  background-color: #CCCCCC;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  position: relative;
}

.pokemon img {
  max-width: 200px;
  max-height: 200px;
}

.pokemon-infos {
  margin-top : 10px;
}

.pokemon-stats {

}

.pokemon-stats .stat-label, .pokemon-stats .stat-bar {
  margin: 5px;
  padding: 0px;
}


.move-stat, .pokemon-moves th {
  padding: 5px;
  border: 1px solid black;
  text-align: center;
}

.stat-bar {
  height: 20px;
  border-radius: 10px;
  background: #FFF;
}

.stat-bar-inside {
  background-color: "#55FF55";
  height: 20px;
  border-radius: 10px;
}


/* CAPTURE */
.wild-pokemon {
  background-color: #CCCCCC;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}