<div class="liste">
  La liste de pokémons se trouve ici. {{ctrl.mesPokemons.length}} Pokémons.
  <div class="pokemons">
    <div class="pokemon" ng-repeat="pokemon in ctrl.mesPokemons">
      <p>
        <span>Id : {{pokemon.id}}</span>
      </p>
      <p>
        <span>Nom : {{ctrl.pokemons[pokemon.id - 1].name}}</span>
      </p>
      <img ng-if="ctrl.pokemons[pokemon.id - 1].sprites.front" ng-src="{{ ctrl.pokemons[pokemon.id - 1].sprites.front }}" alt="{{ctrl.pokemons[pokemon.id - 1].name}} [Failed]" />
      <div class="pokemon-infos row">
        <span class="col-md-12">Weight : {{ctrl.pokemons[pokemon.id - 1].weight}}</span>
        <span class="col-md-12">Height : {{ctrl.pokemons[pokemon.id - 1].height}}</span>
      </div>
      <div class="pokemon-stats row">
        <span class="stat-label col-md-3">HP :</span><div class="stat-bar col-md-5"><div class="stat-hp-bar stat-bar-inside" style="width:{{pokemon.hp / pokemon.stats[5].value * 100}}%; background-color:rgb( {{ ctrl.getColor(pokemon).r }}, {{ ctrl.getColor(pokemon).g }}, {{ ctrl.getColor(pokemon).b }});"></div></div><span class="col-md-2 stat-label">{{ pokemon.hp }} / {{ pokemon.stats[5].value }}</span>
        <span class="stat-label col-md-3">Attaque :</span><span class="col-md-2 stat-label">{{  pokemon.stats[4].value }}</span>
        <span class="stat-label col-md-3">Défense :</span><span class="col-md-2 stat-label">{{ pokemon.stats[3].value }}</span>
        <span class="stat-label col-md-3">Attaque spé. :</span><span class="col-md-2 stat-label">{{ pokemon.stats[2].value }}</span>
        <span class="stat-label col-md-3">Défense spé. :</span><span class="col-md-2 stat-label">{{ pokemon.stats[1].value }}</span>
        <span class="stat-label col-md-3">Vitesse :</span><span class="col-md-2 stat-label">{{ pokemon.stats[0].value }}</span>
      </div>
      <div class="pokemon-moves">
        <table>
          <tr>
            <th></th>
            <th>PP</th>
            <th>Pouvoir</th>
            <th>Précision</th>
          </tr>
          <tr ng-repeat="move in pokemon.moves">
            <td class="move-stat">{{ ctrl.moves[move].names.fr }}</td>
            <td class="move-stat">{{ ctrl.moves[move].pp }}</td>
            <td class="move-stat">{{ ctrl.moves[move].power }}</td>
            <td class="move-stat">{{ ctrl.moves[move].accuracy }}</td>
          </tr>
        </table>
<!--         <div class="move row">
          {{ ctrl.moves[pokemon.moves[0]].names.fr }}
        </div>
        <div class="move row">
          {{ ctrl.moves[pokemon.moves[1]].names.fr }}
        </div>
        <div class="move row">
          {{ ctrl.moves[pokemon.moves[2]].names.fr }}
        </div>
        <div class="move row">
          {{ ctrl.moves[pokemon.moves[3]].names.fr }}
        </div> -->
      </div>
    </div>
  </div>
</div>
