<div ng-if="ctrl.me.listePokemons.length < 1">
	<span>Vous n'avez pas de pokémons, vous ne pouvez pas combattre.</span>
</div>

<div ng-if="ctrl.me.listePokemons.length > 0">
	<span>Vous pouvez combattre ces pokémons : </span>
	<div ng-repeat="pokemon in ctrl.pokemons">
		<div class="wild-pokemon">
			<div class="col-md-5">
				<img ng-src="../assets/first_generation/{{ pokemon.id }}.png">
			</div>
			<p>{{ pokemon.name }}</p>
			<p>Level : {{ pokemon.level }}</p>
			<button class="btn btn-default" ng-click="ctrl.combattre(pokemon)">Combattre</button>
		</div>
	</div>
</div>